.fristDiv {
    height: 100vh;
    background-color: black;
    color: white;
}

.menuLeft {
    width: 220px;
    height: 532px;
    position: fixed;
    top: 10vh;
    left: 0;
    border-radius: 0% 100% 100% 0% / 30% 24% 76% 70%;
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #CF1BA5, #7b4397);
    background: linear-gradient(to right, #CF1BA5, #4130f6);
}

.socialLogo {
    display: inline-block;
    display: grid;
    margin-top: 150px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
}

.img {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.logoEffect {
    width: 100px;
    height: 100px;
    border-radius: 70% 70% 30% / 30% 30% 70% 70%;
    background-color: rgb(139, 37, 216);
    display: inline-block;
}

.logo {
    position: relative;
    top: 0;
    left: 85vw;
    display: flex;
}

.logo h1 {
    position: relative;
    top: 30px;
    left: 1.5vw;
    font-family: Lucida Console;
    border: 1px solid rgb(139, 37, 216);
}

.links h2 {
    /* display: inline-block; */
    margin-left: 30px;
    background: #1626FF;
    background: linear-gradient(to left, #1626FF 0%, #CF1BA5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.links {
    position: relative;
    top: 70px;
    left: 350px;
}
.button{
    background-color: transparent;
}
.center {
    margin-left: 25vw;
    margin-top: 10vh;
    display: flex;
}

.centerLeft {
    width: 50%;
    margin-top: 5vh;
}

.centerLeft h1 {
    font-family: Courier;
}

.centerLeft h3 {
    font-family: Courier;
    letter-spacing: 2px;
    line-height: 1.3;
}

.rightImg {
    width: 300px;
    height: auto;
    margin-top: 100px;
}


/* ////////////////////////////////////// FOR FIRST PAGE //////////////////////////// */

.secondDiv {
    height: 100vh;
    background-color: black;
    /* color: white; */
    /* padding-top: 10vh; */
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.projects {
    margin: auto;
    display: grid;
    padding-left: 120px;
    padding-right: 200px;
    position: relative;
    left: 10vw;
    top: -68vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 70px;
}

.project {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.45);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.225);
}

/* ////////////////////////////////////////////////// THIRD DIV ////////////////////////// */

.cv{
    width: 150px;
    height: 30px;
    margin-left: 10vw;
    margin-top:5vh ;
    background-color:rgb(139, 37, 216);
}
.cv:hover{
    background-color: black;
    color: rgb(139, 37, 216);
    border: 1px solid rgb(139, 37, 216);
}
.projects div img{
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: 50px;
}
.projects div button{
    width: 100px;
    height: 25px;
    border-radius: 50px;
    border-color: white;
    margin-left: 30%;
}

.projects div button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;

}