.thirdDiv {
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 60vh;
    padding-bottom: -50vh;
}

.about {
    position: relative;
    top: -60vh;
    text-align: center;
    font-size: 90px;
    background: #003ECF;
    background: linear-gradient(to right, #003ECF 0%, #CF00BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.informations {
    width: 60vw;
    height: 60vh;
    margin-left: 21vw;
    position: relative;
    top: -60vh;
    border-radius: 50px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* .thirdimg {
    width: 55vw;
    height: 53vh;
    margin-left: 30vw;
    display: inline-block;

} */

.name {
    font-family: Courier;
    margin-left: 50px;
    font-size: 50px;
}

/* 
.informations h3 {
    font-family: Courier;
    margin-top: 100px;
    letter-spacing: 2px;
    line-height: 1.3;
    color: #0a0a0a;
} */


.informations div {
    width: 25vw;
    height: 30vh;
    margin-top: 10vh;
    /* border: 1px solid black; */
    display: inline-block;
    border-radius: 50px;
    -webkit-box-shadow: 4px 4px 42px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 42px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 42px -2px rgba(0, 0, 0, 0.2);
}

.aboutme {
    margin-left: 3vw;
}

.myknowladge {
    margin-left: 2vw;
}
.aboutme h2 {
    width: 20vw;
    text-align: center;
    margin-left: 2.5vw ;
}
.myknowladge h2 {
    width: 20vw;
    text-align: center;
    margin-left: 2.5vw ;
}
.myknowladge ul {
    margin-left: 2.5vw;
}
.gif{
    width: 5vw;
    border-radius: 50px;
    margin-left: 10vw;
    margin-top: 2vh;
}